include ../includes/variables.pug

meta(charset= charset)
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title= site + page
link(rel="stylesheet", href= css_1)
link(rel="stylesheet", href= css_2)
script(src= fajs) 