extends templates/index_template.pug

//- использование команды 'extends' подразумевает расширение этой страницы до страницы с разметкой 
//- или выстроенной структурой регионов (секций) с помощью include
//- и уточнение или изменение блоков и миксинов на этой странице. РАЗМЕТКУ ЗДЕСЬ ДЕЛАТЬ НЕЛЬЗЯ