- var title = "On Dogs: Man's Best Friend";
- var author = "enlore";
- var theGreat = "<span>escape!</span>";

h1= title
p Written with love by #{author}
p This will be safe: !{theGreat}  

  //-   <meta charset="UTF-8">
  //- <meta name="viewport" content="width=device-width, initial-scale=1.0">
  //- <title>Блог о творчестве, спорте и образе жизни></title>
  //- <script src="https://use.fontawesome.com/334cc69bb9.js"></script>
  //- <link rel="stylesheet" href="css/styles.css">
  //- <link rel="stylesheet" href="css/media.css">